footer {
  // margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: .6rem;
  letter-spacing: 2px;
  color: #dfdfdf;
  background-image: url(~@/assets/bg.jpg);
}
