@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url(~@/ProductSans-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Product Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold'), url(~@/ProductSans-Bold.woff) format('woff');
    font-display: swap;
}

* {
  // box-sizing: border-box;
  font-family: 'Product Sans Regular', sans-serif;
  font-size: 1.02em;
}
h1, h2 {
  font-family: 'Product Sans Bold', sans-serif;
  font-size: 1.1em;
}

section {
  .show-more-wrap {
    margin-top: 50px;
    text-align: center;
  }
}

a {
  text-decoration: none !important;
}

// ul {
//   margin: 0;
//   padding: 0;
// }

li {
  list-style-type: none;
}

h2 {
    display: flex;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: lowercase;
    color: #34928a !important;
    > span {
      display: flex !important;
      align-items: center;
      > .uk-icon {
        margin-right: 8px;
      }
    }
  }

main {
  background-color: #1a1a1a;
  padding-top: 20px;
  padding-bottom: 20px;
}

.uk-list-circle{
  padding-left: 10px !important;
}
